[class*="col-"] {
  position: relative;
  background-color: #FEC0CB;
  border: 1px solid black;
  height: 200px;
}

[class*="col-"] .container {
  margin: 10px;
}

[class*="col-"] .container  [class*="col-"] {
  background-color: #F08080;
  border: 1px solid white;
  height: 180px;
}

.container [class*="col-"] > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}